.button {
  padding: 16px;
  background-color: #a75d5dcc;
  width: 110px;
  padding: 8px 16px;
  border-radius: 16px;
  align-items: center;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
  }
  margin-bottom: 24px;
}
